{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "plugins": [
  ],
  "ecmaFeatures": {
    "jsx": true,
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "destructuring": true,
    "forOf": true,
    "templateStrings": true,
    "restParams": true,
    "spread": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "objectLiteralComputedProperties": true,
  },
  "rules": {
    "block-scoped-var": 2,
    "comma-dangle": [2, "always-multiline"],
    "consistent-return": 2,
    "consistent-this": [2, "self"],
    "eqeqeq": 2,
    "no-alert": 2,
    "no-cond-assign": 2,
    "no-constant-condition": 0,
    "no-control-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-eval": 2,
    "no-ex-assign": 2,
    "no-func-assign": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-redeclare": [2, {"builtinGlobals": true}],
    "no-sparse-arrays": 2,
    "no-undef": 2,
    "no-unreachable": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "strict": [2, "never"],
    "use-isnan": 2,
    "valid-typeof": 2,

    "default-case": 1,
    "global-require": 1,
    "no-debugger": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-semi": 1,
    "no-regex-spaces": 1,
    "no-unexpected-multiline": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-useless-call": 1,
    "valid-jsdoc": 0,
    "no-irregular-whitespace": 1,
    "no-case-declarations": 0,

    "no-var": 2,
    "prefer-const": 2,
    "no-console": [2, {"allow": ["warn", "error"]}],
  }
}
